################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProductCatalog
/ProductCatalog/bin
/ProductCatalog/obj
/ProductCatalog/Logs
/ProductCatalog.Tests/bin
/ProductCatalog.Tests/obj
