################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProductCatalog
/ProductCatalog/bin
/ProductCatalog/obj
